# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=your domain

# The subdomain to serve from
SUBDOMAIN=n8n

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Iran/Tehran

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=your email address

N8N_ENCRYPTION_KEY=aklsjdh93284yulksdfhnkljh
SERVICE_URL_N8N=http://127.0.0.1:5678/
POSTGRESDB_USER=n8n
POSTGRES_PASSWORD=n8n
SERVICE_PASSWORD_N8N=n8n

# Sandbox Service Configuration
N8N_SANDBOX_VERSION=latest
SANDBOX_API_KEYS=custom-secret-key
SANDBOX_API_RUNNER_REGISTRATION_TOKEN=registration-token
SEARXNG_SECRET=generate-a-random-secret-key-here

